<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %></h3>
<% end %><br>

<section id="pending-app">
  <h2>Shelter's with Pending Applications:</h2>
  <% @shelters_pending_apps.each do |shelter| %>
    <h4><%= shelter.name%></h4>
  <% end %>
</section>
