/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   font-family: Monospace, Monaco, Nova Mono;
   margin-left: 150px;
   padding-left: 20px;
 }

 /* Style the side navigation */
 .sidenav {
   height: 100%;
   width: 150px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
 }


 /* Side navigation links */
 .sidenav a {
   color: white;
   padding: 16px;
   text-decoration: none;
   display: block;
 }

 /* Change color on hover */
 .sidenav a:hover {
   background-color: #ddd;
   color: black;
 }
